<div class="container-fluid">

  <!-- Page Heading -->
 

  <div class="row mt-2">

   
    <div class="col-xl-3 col-md-6">
      <div class="card border-left-primary shadow h-50 ">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-5">Proposed BCF:122043.42</div>
              <!-- <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div> -->
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <div class="col-xl-3 col-md-6">
      <div class="card border-left-success shadow h-50">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col ">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-5">Current BCF:121956.87</div>
              <!-- <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div> -->
            </div>
            <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6">
        <div class="card border-left-success shadow h-50">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col ">
                <div class="text-xs font-weight-bold text-info text-uppercase mb-5">Current BCF:121956.87</div>
                <!-- <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div> -->
              </div>
              <div class="col-auto">
                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
<!-- <div class="container-fluid pb-1">
  <div class="row">
    <div class="col-sm border border-primary">Proposed BCF:122043.42</div>
    <div class="col-sm border border-primary">Current BCF:121956.87</div>
    <div class="col-sm border border-primary">Diff:86.55</div>
  </div>
</div> -->
