<div class="container-fluid h-100">

  <div class="col-sm-12 border h-100">
    <mat-tab-group [backgroundColor]="primary">
      <mat-tab label="General">        
        <app-tab-header></app-tab-header>
        <br/>
        <app-general></app-general>
      </mat-tab>
      <mat-tab label="Draw">
        <app-tab-header></app-tab-header>
      </mat-tab>
      <mat-tab label="Rates">
        <app-tab-header></app-tab-header>
      </mat-tab>
      <mat-tab label="Consumables">
        <app-tab-header></app-tab-header>
      </mat-tab>
      <mat-tab label="Mileage">
        <app-tab-header></app-tab-header>
      </mat-tab>
      <mat-tab label="Buisness, Office, Rent & Help">
        <app-tab-header></app-tab-header>
      </mat-tab>
      <mat-tab label="Subsidies">
        <app-tab-header></app-tab-header>
      </mat-tab>
      <mat-tab label="Notices">
        <app-tab-header></app-tab-header>
      </mat-tab>        
    </mat-tab-group>
  </div>

</div>
