<!-- <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand " href="#">ACMS</a>    
    <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
  </nav> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">ACMS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <!-- Link Contractors -->
        <a class="nav-link" routerLink="/rates">Link Contractors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/draw">Contractors</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/landing">Agents <span class="sr-only">(current)</span></a>
      </li>
      <!-- <li class="nav-item active">
          <a class="nav-link" routerLink="/general">General <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/draw">Draw</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/rates">Rates</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/consumables">Consumables</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/mileages">Mileage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/bizhelp">Buisness,Office,Rent & Help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/subsidy">Subsidies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/notices">Notices</a>
          </li>          -->
    </ul>
   
  </div>
</nav>
